
/*styling for the table goes here*/
body {
    width: 750px;
    margin: 0 auto;
    font-family:sans-serif;
    background-color:rgb(223, 169, 187);
    color: darkblue;
     }

header {
    font-weight: bold;
    color:brown;
    text-align: center;
    }

a {
        text-decoration: none;
        color: darkred;
    }
    
a:hover {
        text-decoration: underline;
        color: firebrick;
    }

h2 {
    font-family: Verdana;
    text-align: center;
    }

nav {
    font-weight: bold;
    text-align: center;
    }

table {
    border-collapse: collapse;
    margin: 20px;
      }
    
thead {
    background-color:green;
    }

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
    }
 
.right {
    text-align: right;
    }
    
tbody tr:nth-child(even) td {
    background-color: lightgreen;
    }

table tr:nth-child(1) {
    background-color: green;
}

footer {
    color: black;
    font-weight: bold;
    text-align: center;
    }

figcaption {
    text-align: center;
}