.background-color {
    background-color:cadetblue;
}
.fonttype {
    font-family:'Courier New', Courier, monospace;
}
.text-align {
    text-align: center;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color:cadetblue;
    text-align: center;
}

header {
    font-weight: bold;
    color:brown;
    text-align: center;
}

nav {
    text-align: center;
}

figure {
    text-align: center;
}
