
body {
    font-family:sans-serif;
    background-color:cornsilk;
    margin-left: 60px;
    margin-right: 60px;
}

header {
    font-weight: bold;
    color:brown;
}

footer {
    color: black;
    font-weight: bold;
    text-align: center;
}