body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #8AC6D0;
    color: rgb(57, 20, 82);
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3 {
    color:rgb(57, 20, 82);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: large;
    color: rgb(57, 20, 82);;
    font-style: oblique;
    text-align: justify;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    text-decoration: underline;
    color: firebrick;
}

header {
    font-weight: bold;
    color:brown;
    text-align: center;
}

nav {
    font-weight: bold;
    text-align: center;
}

figure {
    float: left;
}

.list {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: justify;
}

.industry {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

footer {
    color: black;
    font-weight: bold;
    text-align: center;
}